<body>
    <form [formGroup]="add">
    <h1>Add Task</h1>
    <br>
    <div class="container">
    <mat-form-field>
    <mat-label>Enter User ID</mat-label>
    <input matInput formControlName = "userId">
    </mat-form-field>
    <br><br>
    <mat-form-field>
    <mat-label>Enter the Title</mat-label>
    <input matInput formControlName = "title">
    </mat-form-field>
    <br><br>
    <mat-form-field>
    <mat-label>Enter the Staus</mat-label>
    <input matInput formControlName = "completed">
    </mat-form-field>
    <br><br><br>
    <button mat-raised-button (click)="doAdd(add.value)">Add</button>
    </div>
    </form>
</body>