body{
    margin-top: -22px;
    background-color: black;
    height: inherit;
    color: white;
}
h1{
    padding-top: 20px;
    margin-left: 30px;
}
.a{
    text-align: center;
}
table{
    margin-left: 20px;
}